* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #0A142F;
    text-transform: capitalize;
    font-family: inter;
    font-size: 20px;
}
header {
    width: 100%;
    max-width: 1400px;
    margin: 29.92px auto;
	padding: 29.92px;
}
header > nav {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    gap: 10rem;
}
header > nav > .menu > a {
    text-decoration: none;
    color: white;
    gap: 1em;
}
header > nav > .menu > a:hover {
    color: yellow;
}
header > nav > .more {
    float: left;
}
main {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1400px;
    margin: 29.92px auto;
	padding: 29.92px;
}
main > .img1 {
    height: 15em;
    margin-top: 20em;
}
.main {
    margin-left: 3rem;
}
.main > h1 {
    color: white;
    width: 400px;
    margin-top: 0.5em;
    text-indent: 1em;
    font-size: 6em;
    margin-bottom: 0.5em;
    margin-left: 0px;
}
.main > p {
    color: white;
    width: 24em;
    font-size: 1em;
    margin-bottom: 2em;
}
.main > a {
    position: absolute;
    margin-top: 100px;
    color: white;
    text-decoration: none;
    padding: 1em;
    margin: 10px;
}
.main > a:hover {
    background-color: #FFC93E;
    border-radius: 5em;
}
main > .img2 {
    width: 20em;
    margin-top: 10em;
}
.one {
    width: 90%;
    max-width: 1400px;
    margin: 29.92px auto;
	padding: 29.92px;
    display: flex;
    flex-direction: row;
}
.one1 > h2{
    color: white;
    width: 500px;
    font-size: 3.5rem;
}
.one1 > p {
    color: #E0E5F3;
    width: 500px;
    font-size: 0.896rem;
    line-height: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.one1 > a {
    color: white;
    text-decoration: none;
    margin: 1.2em;
    padding: 1em;
    border-radius: 5em;
}
.one1 > a:hover {
    background-color: #FFC93E;
}
.one > img {
    margin-left:2em ;
}
.two {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1000px;
    margin: 29.92px auto;
	padding: 29.92px;
    justify-content: center;
    gap: 3em;
}
.two > dl {
    text-align: center;
    color: white;
}
.thr {
    background: rgb(255,201,62);
    background: linear-gradient(90deg, rgba(255,201,62,1) 38%, rgba(53,63,91,1) 38%);
    display: flex;
    flex-direction: row;
    background-color: cadetblue;
    width: 90%;
    max-width: 1400px;
    margin: 29.92px auto;
	padding: 29.92px;
}
.thr1 > img {
    width: 20em;
    margin-top: 2.2em;
    margin-bottom: 2.2em;
    margin-left: 6em;
}
.thr2 {
    margin-top: 3em;
    margin-left: 0.6em;
}
.thr2 > h2 {
    color: white;
    margin-left: 1.2em;
    font-size: 1.8em;
}
.thr21 {
    display: flex;
    flex-direction: row;
    margin-left: 1.6em;
}
.thr211 {
    display: flex;
    flex-direction: column;
    margin-top: 1.8em;
}
.thr211 > .im2 {
    margin-top: 0.2em;
}
.thr211 > .im3 {
    margin-top: 0.3em;
}
.thr211 > img {
    margin-bottom: 3em;
}
.thr212 {
    color: white;
}
.thr212 {
    margin-top: 2em;
    margin-left: 0.6em;
}
.thr212 > h3 {
    font-size: 0.9em;
    margin-bottom: 0.8em;
}
.thr212 > p {
    width: 28em;
    height: 2em;
    color: #E0E5F3;
    font-size: 0.6em;
    line-height: 1.5em;
    margin-bottom: 3em;
    font-weight: 300;
}
.fou {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1000px;
    margin: 29.92px auto;
	padding: 29.92px;
}
.fou1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 41em;
    gap: 18em;
    margin-left: 2em;
}
.fou1 > h2 {
    color: white;
    width: 8em;
    font-size: 2em;
}
.fou1 > a {
    text-decoration: none;
    color: white;
    border: solid 2px;
    border-radius: 3em;
    padding: 1em;
    width: auto;
    height: min-content;
}
.fou1 > a:hover {
    background-color: #FFC93E;
    border: none;
}
.fou2 {
    display: flex;
    flex-direction: row;
    margin: 2em;
}
.f21 > dl{
    background-color: #353F5B;
    width: 20em;
    height: 20em;
    margin-bottom: 1em;
    padding: 0.7em;
    padding-top: 2.7em;
    padding-bottom: 2.7em;
}
.f21 > dl > img {
    width: 2em;
}
.f21 > dl > dt {
    color: white;
    width: 10em;
    font-size: 1.5em;
}
.f21 > dl > dd {
    color: #E0E5F3;
    width: 21em;
    font-size: 0.88em;
    height: 6em;
    margin-top: 1em;
    margin-bottom: 4em;
    font-weight: 400;
    word-spacing: 0.2em;
    line-height: 1.3em;
}
.f22 {
    margin-top: 1em;
}
.f21 > dl > a {
    text-decoration: none;
    color: white;
    border: solid 2px;
    border-radius: 3em;
    padding: 0.6em;
    width: auto;
    height: min-content;
}
.f21 > dl > a:hover {
    background-color: #FFC93E;
    border: none;
}
.f22 > dl{
    background-color: #353F5B;
    width: 20em;
    height: 20em;
    margin: 1em;
    padding: 0.7em;
    padding-top: 2.7em;
    padding-bottom: 2.7em;
}
.f22 > dl > img {
    width: 2em;
}
.f22 > dl > dt {
    color: white;
    width: 10em;
    font-size: 1.5em;
}
.f22 > dl > dd {
    color: #E0E5F3;
    width: 21em;
    font-size: 0.88em;
    height: 6em;
    margin-top: 1em;
    margin-bottom: 4em;
    font-weight: 400;
    word-spacing: 0.2em;
    line-height: 1.3em;
}
.f22 > dl > a {
    text-decoration: none;
    color: white;
    border: solid 2px;
    border-radius: 3em;
    padding: 0.6em;
    width: auto;
    height: min-content;
}
.f22  > dl > a:hover {
    background-color: #FFC93E;
    border: none;
}
.f-1 {
    border-top-left-radius: 1.5em;
}
.f-2 {
    border-top-right-radius: 1.5em;
}
.f-3 {
    border-bottom-left-radius: 1.5em;
}
.f-4 {
    border-bottom-right-radius: 1.5em;
}
.fiv {
    width: 90%;
    max-width: 1000px;
    margin: 29.92px auto;
	padding: 29.92px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fiv h2 {
    color: white;
    font-size: 2em;
    margin-bottom: 0.8em;
}
.fiv > nav {
    margin-bottom: 2em;
}
.fiv > nav > a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    margin: 1em;
}
.fiv > div {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.fiv > div > article > img {
    width: 22em
}
.fiv > div > article > h2 {
    width: 16em;
    height: 2em;
    font-size: 1em;
    margin-top: 1em;
}
.fiv > div > article > p {
    width: 37em;
    height: auto;
    color: #E0E5F3;
    font-size: 0.6em;
    line-height: 2em;
}
.fiv > div > article {
    margin-bottom: 1em;
}
.fiv > a {
    text-decoration: none;
    padding: 0.5em 2em 0.5em 2em;
    border: solid 2px;
    border-radius: 2em;
    color: white;
}
.fiv > a:hover {
    background-color: #FFC93E;
    border-style: none;
    color: #0A142F;
}
body > h2 {
    display: flex;
    align-items: center;
    color: white;
    padding-left: 17rem;
    font-size: 3rem;
}
.six {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    width: 800px;
    height: 500px;
    border-radius: 1em;
    overflow: hidden;
}
.slides {
    width: 500%;
    height: 400px;
    display: flex;
    border-radius: 1em;
    margin-right: 1em;
    gap: 0.1em;
}
#vector {
    filter: invert(90%)
            sepia(50%) 
            saturate(1195%) 
            hue-rotate(123deg) 
            brightness(50%) 
            contrast(30%);
}
#vectori {
    filter: invert(90%)
            sepia(50%) 
            saturate(1195%) 
            hue-rotate(123deg) 
            brightness(50%) 
            contrast(30%);
}
.slides > input {
    display: none;
}
.slide {
    background-color: #353F5B;
    width: 20%;
    padding: 2em;
    transition: 2s;
    border-radius: 1em;
}
.imgg > p {
    margin-top: 1em;
    width: 92%;
    color: #E0E5F3;
}
.imgg > img {
    margin-top: 1em;
}
.slide > .imgg {
    width: 800px;
    height: 500px;
}
.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: solid 2px #FFC93E;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
}
.manual-btn:hover {
    background: #FFC93E;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
.sev {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1000px;
    margin: 29.92px auto;
	padding: 29.92px;
    gap: 1em;
}
.sev > article > img {
    width: 100%;
    height: 13em;
    margin-bottom: 1em;
}
.sev > article > .tech {
    text-decoration: none;
    color: #FFC93E;
    background-color: white;
    padding: 0.4em;
    border-radius: 1em;
    font-size: 0.7em;
}
.sev > article > .tech:hover {
    background-color: #FFC93E;
    color: #0A142F;
}
.date {
    color: #a4a7ae;
    margin-top: 1em;
    font-size: 0.3em;
    word-spacing: 0.3em;
}
.sev > article > p {
    color: white;
    width: 90%;
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.sev > article > a {
    color: white;
    border: solid 0.1em;
    text-decoration: none;
    padding: 0.8em;
    border-radius: 1.4em;
    font-size: 0.7em;
}
.sev > article > a:hover {
    background-color:#FFC93E;
    color: #0A142F;
    border: none;
}
footer {
    background-color: #353F5B;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 2em 3em 2em 3em;
}
.information {
    display: flex;
    flex-direction: row;
    gap: 6em;
}
.information > form {
    width: 25em;
    height: 10em;
    display: flex;
    flex-direction: column;
    background-color: #FFC93E;
    border-radius: 1.5em;
    padding: 3em 1.5em 3em 1.5em;
    color: #0A142F;
}
.information > form > input {
    background-color: transparent;
    color: #0A142F;
    border-style: none;
    border-bottom: solid 2px ;
}
.information > form > button {
    width: 1.5em;
    position: absolute;
    color: #0A142F;
    background-color: transparent;
    border: none;
    margin-left: 31em;
    margin-top: 3em;
}
.information-direction {
    display: flex;
    flex-direction: row;
}
.information-direction > dl {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.information-direction > dl > dt {
    color: white;
}
.information-direction > dl > dd {
    color: #a4a7ae;
    width: 12em;
} 
.information-several-links{
    display: flex;
    margin-top: 2em;
    gap: 12em;
}
.information-several-links > div > a {
    text-decoration: none;
    color: white;
}
.socialmedia {
    display: flex;
    gap: 1em;
}